body {
    margin: 0;
    display:block;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
h1, h2, h3 {
    margin: 0;
}

select {
    margin: 5px;
}

.banner {
    background-color: #ffffff; /* Background color for the banner */
    height: 100px; /* Adjust height as needed */
    display: flex;
    align-items: center; /* Vertically center the logo */
    justify-content: left; /* Horizontally center the logo */
    padding: 15px;
    padding-left: 20px;
}

.logo {
    max-width: 250px; /* Limit the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.pageTitle {
    font-size: 24px;
    color: #333;
    /* Add more styles as needed */
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #000000;*/
    /*border-radius: 20px;*/
    padding: 20px;
}


.label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.image {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
    max-width: -webkit-fill-available;
    height: auto; /* Maintain aspect ratio */
}

.battery {
    max-width: -webkit-fill-available;
}

.car {
    padding-top: 0px;
}

.selections {
    flex-direction: row;
    align-items: center;
}
 

#car {
    width:700px;
    max-width:80%;
}

#battery {
    width:400px;
    max-width: 60%;
}

#provider-button {
    margin: 10px;
    background-color: #2CC469; /* Green */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}

#provider-button:hover {
    background-color: #25a358; /* Background color on hover */
}

#supplier-dropdown {
    margin: 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px; /* Adjusted line-height to vertically center text */
    height: 50px;
    width: 150px;
    transition: all 200ms ease-in-out;
    border-radius: 4px;
    letter-spacing: 1px;
    text-align: center; /* Center text horizontally */
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    color: #000000;
    box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
    border:2px solid #000000;
}

#supplier-dropdown:hover {
    color: #ffffff;
    background-color: #2CC469;
  }